invoice-to-finance-transaction/src/main/mule/invoice-to-finance-transaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="2d223b3b-1595-4e7c-9bac-e706ddde8900" >
		<salesforce:basic-connection username="${secure::sfdc.user}" password="${secure::sfdc.password}" url="${sfdc.auth_url}">
			<reconnection >
				<reconnect count="5" />
			</reconnection>
		</salesforce:basic-connection>
	</salesforce:sfdc-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="d62bdadb-0ab0-4be3-9063-d5a729184e72" file="config/config-secure.yaml" key="${encryption.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="6734182e-3bab-4cdf-a6ae-611647257ee8" name="encryption.key" value="INSERT ENCRYPTION KEY HERE... ie: mulesoft_key" />
	<configuration-properties doc:name="Configuration properties" doc:id="14467cac-7bca-4a02-8d70-38ff2ecf5750" file="config/config.yaml" />
	<flow name="invoiceToFinanceTransaction" doc:id="d9a9f112-2a91-4930-a09f-c84b4761301c" >
		<salesforce:modified-object-listener objectType="blng__Invoice__c" doc:id="87534ada-9005-4dfe-bdc3-76a759ca38f9" config-ref="Salesforce_Config" doc:name="On Modified Object" >
			<scheduling-strategy >
				<fixed-frequency frequency="${sfdc.polling_interval}"/>
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<set-variable value="#[payload]" doc:name="Save Invoice" doc:id="64784f97-ac63-417d-b184-f714db7c15e9" variableName="invoicePayload" />
		<os:retrieve doc:name="Retrieve Previous Invoice State" doc:id="8283381d-a6f0-4b54-ab40-9d40ace1a69f" key="#[vars.invoicePayload.Id]" target="previousInvoiceState">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<choice doc:name="Choice" doc:id="db5a4957-d29c-4125-ab9c-4eea67ffbb0a" >
			<when expression="#[(vars.invoicePayload.blng__InvoiceStatus__c == 'Posted') and (vars.previousInvoiceState != 'Posted')]" >
				<ee:transform doc:name="Prep payload to Create Finance Transaction from Invoice" doc:id="e19009bf-25b7-4276-ab6f-b87d9c9d6c57" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	CurrencyIsoCode: payload.CurrencyIsoCode,
	ReferenceEntityId: payload.Id,
	ReferenceEntityType: "Invoice",
	EventAction: "Post an invoice",
	EventType: "Posted",
	Subtotal: payload.blng__Subtotal__c,
	TaxAmount: payload.blng__TaxAmount__c,
	TotalAmountWithTax: payload.blng__TotalAmount__c,
	ResultingBalance: payload.blng__Balance__c,
	AccountId: payload.blng__Account__c,
	TransactionDate: now() as DateTime {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	EffectiveDate: now() as DateTime {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	DueDate: payload.blng__DueDate__c as Date {format: "yyyy-MM-dd"},
	BaseCurrencyFxRate: payload.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: payload.blng__BaseCurrencyFXDate__c,
	BaseCurrencyAmount: payload.blng__BaseCurrencyAmount__c,
	BaseCurrencyIsoCode: payload.blng__BaseCurrency__c
}]
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:create type="FinanceTransaction" doc:id="be2b86a1-8dec-407c-9272-b23e2c5be5e7" config-ref="Salesforce_Config" doc:name="Create Finance Transaction for Invoice" target="createFinTranInvoiceOutputPayload"/>
				<logger level="INFO" doc:name="Log success or fail" doc:id="090062ac-09b5-4e75-9733-b0a935d55bf8" message='#[if (vars.createFinTranInvoiceOutputPayload.successful == true) "Successfully added Invoice Line Finance Transaction Record" else "Error adding Finance Transaction Record"]' />
				<salesforce:query doc:id="1e78fede-251d-4c75-8bab-cc85cbe48a72" config-ref="Salesforce_Config" doc:name="Query Invoice Line Information" >
					<salesforce:salesforce-query ><![CDATA[SELECT Id,blng__Invoice__c,blng__BaseCurrencyFXDate__c,blng__BaseCurrencyFXRate__c,blng__Balance__c,blng__BaseCurrencyAmount__c,blng__DueDate__c,blng__ImpactAmount__c,blng__LegalEntity__c,blng__Subtotal__c,blng__TaxAmount__c,blng__TotalAmount__c,CurrencyIsoCode FROM blng__InvoiceLine__c WHERE blng__Invoice__c = ':invoice_id' ]]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	invoice_id : vars.invoicePayload.Id
}]]]></salesforce:parameters>
				</salesforce:query>
				<foreach doc:name="For Each" doc:id="3b4043f3-2466-4311-8827-92b723b8a214" >
					<set-variable value="#[payload]" doc:name="invoiceLineInfo" doc:id="2f81b089-889d-4efd-8458-fd20ff3e1846" variableName="invoiceLineInfo"/>
					<ee:transform doc:name="Prep Payload to Create Finance Transaction for Invoice Line" doc:id="e0300b76-4783-4179-9307-f5812f044766" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars.invoicePayload.blng__Account__c,
	CurrencyIsoCode: payload.CurrencyIsoCode,
	ReferenceEntityId: payload.Id,
	ReferenceEntityType: "Invoice line",
	EventAction: "Post an invoice",
	EventType: "Posted",
	Subtotal: payload.blng__Subtotal__c,
	TaxAmount: payload.blng__TaxAmount__c,
	TotalAmountWithTax: payload.blng__TotalAmount__c,
	ResultingBalance: payload.blng__Balance__c,
	TransactionDate: now() as DateTime {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	EffectiveDate: now() as DateTime {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	DueDate: payload.blng__DueDate__c as Date {format: "yyyy-MM-dd"},
	BaseCurrencyFxRate: payload.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: payload.blng__BaseCurrencyFXDate__c,
	BaseCurrencyAmount: payload.blng__BaseCurrencyAmount__c,
	BaseCurrencyIsoCode: payload.blng__BaseCurrency__c,
	ImpactAmount: payload.blng__ImpactAmount__c,
	LegalEntityId: payload.blng__LegalEntity__c,
	ParentReferenceEntityId: vars.invoicePayload.Id
}]]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<salesforce:create type="FinanceTransaction" doc:id="41535d4c-eb4c-44d7-8b75-8779ae1c2dee" config-ref="Salesforce_Config" doc:name="Create Finance Transaction for Invoice Line" target="createFinTranInvoiceLineOutputPayload"/>
					<logger level="INFO" doc:name="Log success or fail" doc:id="62389722-2448-47d5-9a40-6cff7ff55cb9" message='#[if (vars.createFinTranInvoiceLineOutputPayload.successful == true) "Successfully added Invoice Line Finance Transaction Record" else "Error adding Finance Transaction Record"]' />
					<choice doc:name="Create Invoice Line Tax if Tax &gt; 0" doc:id="4170b2da-7a88-4a8f-b567-5e92daa52507" >
						<when expression="#[vars.invoicePayload.blng__TaxAmount__c &gt; 0]" >
							<ee:transform doc:name="Transform Message" doc:id="3c309268-7433-41aa-bec2-686f051654c6" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars.invoicePayload.blng__Account__c,
	CurrencyIsoCode: vars.invoiceLineInfo.CurrencyIsoCode,
	ReferenceEntityId: vars.invoiceLineInfo.Id,
	ReferenceEntityType: "Invoice Line Tax",
	EventAction: "Post an invoice",
	EventType: "Posted",
	TaxAmount: vars.invoiceLineInfo.blng__TaxAmount__c,
	TotalAmountWithTax: vars.invoiceLineInfo.blng__TotalAmount__c,
	TransactionDate: now() as DateTime {
		format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"
	},
	EffectiveDate: now() as DateTime {
		format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"
	},
	BaseCurrencyFxRate: vars.invoiceLineInfo.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: vars.invoiceLineInfo.blng__BaseCurrencyFXDate__c,
	BaseCurrencyIsoCode: vars.invoiceLineInfo.blng__BaseCurrency__c,
	ImpactAmount: vars.invoiceLineInfo.blng__TaxAmount__c,
	LegalEntityId: vars.invoiceLineInfo.blng__LegalEntity__c,
	ParentReferenceEntityId: vars.invoicePayload.Id
}]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<salesforce:create type="FinanceTransaction" doc:name="Create Finance Transaction for Invoice Line Tax" doc:id="d6d9b405-9750-4e35-89a8-752574bc2026" config-ref="Salesforce_Config" />
							<logger level="INFO" doc:name="Log success or fail" doc:id="b889affa-d7c8-41cd-95bb-80a8cb398891" message='#[if (payload.successful == true) "Successfully added Invoice Line Tax Financial Transaction Record" else "Error adding Financial Transaction Record"]' />
						</when>
					</choice>
				</foreach>
				<os:store doc:name="Store Invoice State" doc:id="6b931b39-d8e3-48b2-81f7-d8de8ab99138" key="#[vars.invoicePayload.Id]" failOnNullValue="false" >
					<os:value ><![CDATA[#[vars.invoicePayload.blng__InvoiceStatus__c]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<os:store doc:name="Store Invoice State" doc:id="52816873-eb00-4187-ba18-564cf5c51f79" key="#[vars.invoicePayload.Id]" failOnNullValue="false">
					<os:value ><![CDATA[#[vars.invoicePayload.blng__InvoiceStatus__c]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Log Status Value" doc:id="b9152eef-c2a6-4684-8211-34b1a6f7d671" message='#["Stored status value = " ++ vars.invoicePayload.blng__InvoiceStatus__c ++ " for Invoice Id: " ++ vars.invoicePayload.Id]'/>
			</otherwise>
		</choice>
	</flow>
</mule>
