financial-logging-billing/src/main/mule/financial-logging-billing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9603a090-63b6-4c24-9e11-d1b306b7b508" >
		<salesforce:basic-connection username="john.vansant@billingmulesoft.com" password="M!chaela1" url="https://db000000061wgmaq.my.salesforce.com/services/Soap/u/49.0"/>
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70813923-f48d-453e-ac25-7014e060af25" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<netsuite:config name="NetSuite_Config" doc:name="NetSuite Config" doc:id="744438c6-8a08-4f7c-8e4e-d1d3c05e3380" >
		<netsuite:request-based-authentication-connection email="${secure::ns.user}" password="${secure::ns.pass}" account="${secure::ns.account}" roleId="${secure::ns.roleId}" applicationId="${secure::ns.applicationId}" />
	</netsuite:config>
	<configuration-properties doc:name="Configuration properties" doc:id="89260b15-1446-4a5a-96da-cf65b6d08083" file="config/config.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="e1672828-170d-4583-99a9-ba984fde9623" file="config/config-secure.yaml" key="${encryption.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="906ab8c7-3aaf-4995-bf60-72b9404625b4" name="encryption.key" value="mulesoft_password" />
	<flow name="financial-logging-billingFlow" doc:id="67786e83-c53c-4257-8dab-61ae49a27983" >
		<http:listener doc:name="/syncFinTran" doc:id="392db5b6-a4a9-4111-b6a2-34c7f110be2a" config-ref="HTTP_Listener_config" path="/syncFinTran"/>
		<ee:transform doc:name="Get query-param fin_tran_id" doc:id="4b6e38d6-56a1-4011-aa25-f7d581adea5c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fin_tran_id_to_sync" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams."fin_tran_id"]]></ee:set-variable>
				<ee:set-variable variableName="orderLineItemsList" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Get Financial Transaction Data" doc:id="e765faad-c7ec-419d-aa51-f86581ec3d37" config-ref="Salesforce_Config" target="finTranPayload">
			<salesforce:salesforce-query ><![CDATA[SELECT AccountId,AdjustmentAmount,BaseCurrencyAmount,BaseCurrencyBalance,BaseCurrencyFxDate,BaseCurrencyFxRate,BaseCurrencyIsoCode,ChargeAmount,CreatedById,CreatedDate,DestinationEntityId,DueDate,EffectiveDate,EventAction,EventType,FinanceTransactionNumber,Id,ImpactAmount,IsDeleted,LastModifiedById,LastModifiedDate,LegalEntityId,ReferenceEntityId,ReferenceEntityType,ResultingBalance,SourceEntityId,Subtotal,SystemModstamp,TaxAmount,TotalAmountWithTax,TransactionDate FROM FinanceTransaction where Id = ':fin_tran_id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fin_tran_id : vars.fin_tran_id_to_sync
}]]]></salesforce:parameters>
		</salesforce:query>
		<flow-ref doc:name="Lookup NetSuite Customer ID from Salesforce Account ID" doc:id="558f4475-4718-42ac-ab9e-b4be5c8b6b2c" name="lookup-customer-id-from-netsuite"/>
		<flow-ref doc:name="Lookup Inventory_Items in NetSuite for each Salesforce Order Item" doc:id="dd99f2fd-62cd-4836-a36b-148124171de8" name="lookup-inventory-items-in-netsuite-for-salesforce-order"/>
		<ee:transform doc:name="Prep payload for NetSuite" doc:id="e27ae7ba-ff49-4eee-a636-c283b1240566" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
	customForm: {
		"internalId": "92",
		"name": "Standard Product Invoice"
	},
	entity: {
		internalId: vars.netSuiteCustomer[0].internalId,
		"name": vars.netSuiteCustomer[0].companyName
	},
	itemList: {
		item: [{
			item: {
          "internalId": "9154",
          "name": "24\" Auger"
        },
			price: {
          "internalId": "1",
          "name": "Base Price"
        },
			quantity: 2
		}]
	},
	postingPeriod: {
		"internalId": "235",
		"name": "Aug 2020"
	},
	tranDate: "2020-08-20T00:00:00"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:add-record doc:name="Add Invoice Record" doc:id="2dcd866c-b2bb-4811-a03a-51fa5abf9c44" config-ref="NetSuite_Config" recordType="INVOICE"/>
		<ee:transform doc:name="Transform Message" doc:id="69c58149-212a-4f28-9634-855f971613ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="invoiceToFinancialTransaction" doc:id="170c56eb-05e5-47bf-8f48-1b7206f97625" >
		<salesforce:modified-object-listener objectType="blng__Invoice__c" doc:name="On Modified Object" doc:id="9006d9b4-32d1-4a62-bddf-6c2950f269a1" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<choice doc:name="Choice" doc:id="b160cd26-a873-4084-845d-0f0b258e2dd4" >
			<when expression="#[payload.blng__InvoiceStatus__c == 'Posted']">
				<ee:transform doc:name="Transform Message" doc:id="be01e8fa-4980-46f3-b007-7c79583af1cd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	CurrencyIsoCode: payload.CurrencyIsoCode,
	ReferenceEntityId: payload.Id,
	ReferenceEntityType: "Invoice",
	EventAction: "Post an invoice",
	EventType: "Posted",
	Subtotal: payload.blng__Subtotal__c,
	TaxAmount: payload.blng__TaxAmount__c,
	TotalAmountWithTax: payload.blng__TotalAmount__c,
	ResultingBalance: payload.blng__Balance__c,
	AccountId: payload.blng__Account__c,
	TransactionDate: now() as String {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	EffectiveDate: now() as String {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	DueDate: payload.blng__DueDate__c as String {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	BaseCurrencyFxRate: payload.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: payload.blng__BaseCurrencyFXDate__c,
	BaseCurrencyAmount: payload.blng__BaseCurrencyAmount__c
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:create doc:name="Create Finance Transaction for Invoice" doc:id="3cd63288-4576-4a80-99b7-84cd2a97aca5" config-ref="Salesforce_Config" type="FinanceTransaction"/>
				<salesforce:query doc:name="Query Invoice Line Information" doc:id="46258290-3e60-4616-9d99-d4408a2b6649" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Account__c,blng__Balance__c,blng__BaseCurrencyAmount__c,blng__DueDate__c,blng__ImpactAmount__c,blng__LegalEntity__c,blng__Subtotal__c,blng__TaxAmount__c,blng__TotalAmount__c,CurrencyIsoCode FROM blng__InvoiceLine__c]]></salesforce:salesforce-query>
		</salesforce:query>
			</when>
		</choice>
		<set-variable value="" doc:name="Invoice Line Query Results" doc:id="7899ddc2-9f7b-4aef-a111-1922e2f6a797" variableName=" invoiceLineQueryResults"/>
		<logger level="INFO" doc:name="Logger" doc:id="255ebe8d-1202-42f4-aa2f-cb0e9dd8207a" message="Got to here "/>
	</flow>
	<sub-flow name="lookup-customer-id-from-netsuite" doc:id="b2465150-1761-4042-ba18-dc263617f520" >
		<salesforce:query doc:name="Query Account Name in Salesforce" doc:id="0a70392f-e87f-4f9c-bedc-c87c244e335a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name from Account WHERE Id = ':account_id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	account_id : vars.finTranPayload[0].AccountId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Prep search payload" doc:id="c323ec0e-7883-4e2f-a62a-27e8d9f9f360" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	companyName: {
		operator: "CONTAINS",
		searchValue: payload[0].Name
	}
} as Object {
	class : "com.mulesoft.connector.netsuite.extension.api.CustomerSearchBasic"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:search key="CUSTOMER" doc:name="Search for Customer details in NetSuite" doc:id="566eb88c-9131-4903-a024-bc13ccc3c11f" config-ref="NetSuite_Config" pageSize="10" target="netSuiteCustomer">
		</netsuite:search>
	</sub-flow>
	<sub-flow name="lookup-inventory-items-in-netsuite-for-salesforce-order" doc:id="eb749575-1be4-49c4-ba9f-daa0a9332a6e" >
		<salesforce:query doc:name="Query Invoice Detais in Salesforce" doc:id="5c77d419-d22d-4930-b6b6-6b6d6552822b" config-ref="Salesforce_Config" target="invoiceDetailsPayload">
			<salesforce:salesforce-query ><![CDATA[SELECT blng__Account__c,blng__Action__c,blng__ARStatus__c,blng__Balance__c,blng__BaseCurrencyAmount__c,blng__BaseCurrencyFXDate__c,blng__BaseCurrencyFXRate__c,blng__BaseCurrency__c,blng__BillToContact__c,blng__CorrectiveAction__c,blng__Credits__c,blng__DaysOutstanding__c,blng__DebitPayments__c,blng__Debits__c,blng__DeclinedPaymentRunCount__c,blng__DefaultPaymentType__c,blng__DueDate__c,blng__ImpactAmount__c,blng__InvoiceDate__c,blng__InvoicePostedDate__c,blng__InvoiceRunCreatedBy__c,blng__InvoiceStatus__c,blng__LastPaymentRunId__c,blng__LastPaymentRunProcessingMessage__c,blng__NegativeLineConversion__c,blng__Notes__c,blng__NumberOfInvoiceLines__c,blng__Order__c,blng__PaymentBatch__c,blng__PaymentMethod__c,blng__PaymentProcessStatus__c,blng__PaymentRunId__c,blng__PaymentRunProcessingMessage__c,blng__PaymentsAgainstInvoiceLines__c,blng__PaymentsAgainstInvoice__c,blng__PaymentStatus__c,blng__Payments__c,blng__RefundsAgainstInvoiceLines__c,blng__RefundsAgainstInvoice__c,blng__StatusFlag__c,blng__Subtotal__c,blng__TargetDate__c,blng__TaxAmount__c,blng__TaxErrorMessage__c,blng__TaxErrors__c,blng__TaxStatus__c,blng__TotalAmount__c,blng__UniqueId__c,CreatedById,CreatedDate,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,SystemModstamp FROM blng__Invoice__c where Id = ':invoice_id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	invoice_id : vars.finTranPayload[0].ReferenceEntityId
}]]]></salesforce:parameters>
		</salesforce:query>
		<salesforce:query doc:name="Query Order Items in Salesforce" doc:id="eb25074c-9b58-4064-a257-077e7b2c492c" config-ref="Salesforce_Config" target="orderItemsPayload">
			<salesforce:salesforce-query ><![CDATA[SELECT AvailableQuantity,blng__AllocatedRevenueAmount__c,blng__Asset__c,blng__BillableUnitPrice__c,blng__BilledAmountwithouttax__c,blng__BilledTax__c,blng__BillingAccount__c,blng__BillingGLRule__c,blng__BillingGLTreatment__c,blng__BillingRule__c,blng__BillingTreatment__c,blng__BillThroughDateOverride__c,blng__CanceledBillings__c,blng__FinanceBookAccounting__c,blng__GroupId__c,blng__GroupQuantity__c,blng__GroupUnitPrice__c,blng__HoldBilling__c,blng__IncludedUsage__c,blng__InvoiceGroupId__c,blng__InvoiceGrouping__c,blng__InvoiceRunProcessingStatus__c,blng__InvoiceRunStartDate__c,blng__InvoiceRunStatusIndex__c,blng__InvoiceRun__c,blng__LastChargeToDate__c,blng__LastInvoiceTargetDate__c,blng__LegalEntityReference__c,blng__LegalEntity__c,blng__NextBillingDate__c,blng__NextChargeDate__c,blng__OverrideBillableUnitPrice__c,blng__OverrideInitialRevenueEndDate__c,blng__OverrideInitialRevenueStartDate__c,blng__OverrideNextBillingDate__c,blng__PendingBillings__c,blng__RevenueExpectedAmount__c,blng__RevenueLiabilityAmount__c,blng__RevenueMostLikelyAmount__c,blng__RevenueRecognitionRule__c,blng__RevenueScheduleStatus__c,blng__TaxCity__c,blng__TaxCountry__c,blng__TaxCounty__c,blng__TaxErrorMessage__c,blng__TaxGLRule__c,blng__TaxGLTreatment__c,blng__TaxPercentageApplied__c,blng__TaxRule__c,blng__TaxState__c,blng__TaxStatus__c,blng__TaxStreet2__c,blng__TaxStreet__c,blng__TaxTreatment__c,blng__TaxZipCode__c,blng__TerminatedBillings__c,blng__TotalBilling__c,blng__UniqueId__c,blng__UsageFloorQuantity__c,CreatedById,CreatedDate,Description,EndDate,Id,IsDeleted,LastModifiedById,LastModifiedDate,ListPrice,OrderId,OrderItemNumber,OriginalOrderItemId,PricebookEntryId,Product2Id,Quantity,SBQQ__Activated__c,SBQQ__Asset__c,SBQQ__BillingFrequency__c,SBQQ__BillingType__c,SBQQ__BlockPrice__c,SBQQ__BookingsIndicator__c,SBQQ__BundleRoot__c,SBQQ__ChargeType__c,SBQQ__ContractAction__c,SBQQ__Contracted__c,SBQQ__ContractingMethod__c,SBQQ__Contract__c,SBQQ__DefaultSubscriptionTerm__c,SBQQ__DimensionType__c,SBQQ__DiscountSchedule__c,SBQQ__OrderedQuantity__c,SBQQ__OrderProductBookings__c,SBQQ__PriceDimension__c,SBQQ__PriceSchedule__c,SBQQ__PricingMethod__c,SBQQ__ProductSubscriptionType__c,SBQQ__ProrateMultiplier__c,SBQQ__QuotedListPrice__c,SBQQ__QuotedQuantity__c,SBQQ__QuoteLine__c,SBQQ__RequiredBy__c,SBQQ__RevisedOrderProduct__c,SBQQ__SegmentIndex__c,SBQQ__SegmentKey__c,SBQQ__ShippingAccount__c,SBQQ__Status__c,SBQQ__SubscriptionPricing__c,SBQQ__SubscriptionTerm__c,SBQQ__SubscriptionType__c,SBQQ__Subscription__c,SBQQ__TaxAmount__c,SBQQ__TaxCode__c,SBQQ__TermDiscountSchedule__c,SBQQ__TerminatedDate__c,SBQQ__UnproratedNetPrice__c,SBQQ__UpgradedSubscription__c,ServiceDate,SystemModstamp,TotalPrice,UnitPrice FROM OrderItem where OrderId = ':order_id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	order_id : vars.invoiceDetailsPayload[0].blng__Order__c
}]]]></salesforce:parameters>
		</salesforce:query>
		<foreach doc:name="For Each Order Line Item" doc:id="4c06f23b-6c16-4435-b89f-319b01b49521" collection="#[vars.orderItemsPayload]" rootMessageVariableName="orderItem">
			<salesforce:query doc:name="Lookup Order Item Product Name &amp; Price" doc:id="b5c0b7f8-00bc-43c1-a8dc-997a400511f8" config-ref="Salesforce_Config" target="productPayload">
				<salesforce:salesforce-query ><![CDATA[SELECT Name,UnitPrice FROM PricebookEntry where Id=':priceBookEntry_id']]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	priceBookEntry_id : payload.PricebookEntryId
}]]]></salesforce:parameters>
			</salesforce:query>
			<ee:transform doc:name="Prep search payload" doc:id="1b4ff33d-ba68-4b9a-a7ac-68b7b613b0e3">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	item: {
		operator: "ANY_OF",
		searchValue: [{
			name: (vars.productPayload[0].Name default ""),
			"type": "INVENTORY_ITEM"
		}]
	}
} as Object {
	class : "com.mulesoft.connector.netsuite.extension.api.InventoryNumberSearchBasic"
}
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<netsuite:search doc:name="Search for Inventory Item in NetSuite" doc:id="a7ac653a-da00-4fbf-94c1-38baee34257a" config-ref="NetSuite_Config" key="INVENTORY_NUMBER_BASIC" pageSize="10" target="netsuiteInventoryItem"/>
			<ee:transform doc:name="Add Item to Invoice Line Item List" doc:id="e4be89b5-b356-4a7a-af88-d0d2085989e5" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="orderLineItemsList" ><![CDATA[%dw 2.0
output application/json
---
{
	item: [{
		item: {
          "internalId": "9154",
          "name": "24\" Auger"
        },
			price: {
          "internalId": "1",
          "name": "Base Price"
        },
			quantity: 2
		}]
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<logger level="INFO" doc:name="Log Activity" doc:id="8e0018b9-f99f-4c9a-a6a7-cfafa0fc9dfd" message='#["looking up inventory items from NetSuite"]' />
	</sub-flow>
</mule>
