financial-logging-billing/src/main/mule/financial-logging-billing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9603a090-63b6-4c24-9e11-d1b306b7b508" >
		<salesforce:basic-connection username="${secure::sfdc.user}" password="${secure::sfdc.password}" securityToken="${secure::sfdc.token}" url="https://test.salesforce.com/services/Soap/u/49.0"/>
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="70813923-f48d-453e-ac25-7014e060af25" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<netsuite:config name="NetSuite_Config" doc:name="NetSuite Config" doc:id="744438c6-8a08-4f7c-8e4e-d1d3c05e3380" >
		<netsuite:request-based-authentication-connection email="${secure::ns.user}" password="${secure::ns.pass}" account="${secure::ns.account}" roleId="${secure::ns.roleId}" applicationId="${secure::ns.applicationId}" />
	</netsuite:config>
	<configuration-properties doc:name="Configuration properties" doc:id="89260b15-1446-4a5a-96da-cf65b6d08083" file="config/config.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="e1672828-170d-4583-99a9-ba984fde9623" file="config/config-secure.yaml" key="${encryption.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="906ab8c7-3aaf-4995-bf60-72b9404625b4" name="encryption.key" value="mulesoft_password" />
	<flow name="financial-logging-billingFlow" doc:id="67786e83-c53c-4257-8dab-61ae49a27983" >
		<http:listener doc:name="/syncFinTran" doc:id="392db5b6-a4a9-4111-b6a2-34c7f110be2a" config-ref="HTTP_Listener_config" path="/syncFinTran"/>
		<ee:transform doc:name="Get query-param fin_tran_id" doc:id="4b6e38d6-56a1-4011-aa25-f7d581adea5c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fin_tran_id_to_sync" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams."fin_tran_id"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Get Financial Transaction Data" doc:id="e765faad-c7ec-419d-aa51-f86581ec3d37" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT AccountId,AdjustmentAmount,BaseCurrencyAmount,BaseCurrencyBalance,BaseCurrencyFxDate,BaseCurrencyFxRate,BaseCurrencyIsoCode,ChargeAmount,CreatedById,CreatedDate,DestinationEntityId,DueDate,EffectiveDate,EventAction,EventType,FinanceTransactionNumber,Id,ImpactAmount,IsDeleted,LastModifiedById,LastModifiedDate,LegalEntityId,ReferenceEntityId,ReferenceEntityType,ResultingBalance,SourceEntityId,Subtotal,SystemModstamp,TaxAmount,TotalAmountWithTax,TransactionDate FROM FinanceTransaction where Id = ':fin_tran_id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	fin_tran_id : vars.fin_tran_id_to_sync
}]]]></salesforce:parameters>
		</salesforce:query>
		<flow-ref doc:name="Lookup NetSuite Customer ID from Salesforce Account ID" doc:id="558f4475-4718-42ac-ab9e-b4be5c8b6b2c" name="lookup-customer-id-from-netsuite"/>
		<set-variable value="#[payload]" doc:name="NetSuite Customer" doc:id="88bb45f3-5820-424f-928c-1cbb7b7fbf22" variableName="netSuiteCustomer"/>
		<flow-ref doc:name="Lookup Inventory_Items in NetSuite for each Salesforce Order Item" doc:id="dd99f2fd-62cd-4836-a36b-148124171de8" name="lookup-inventory-items-in-netsuite-for-salesforce-order"/>
		<ee:transform doc:name="Prep payload for NetSuite" doc:id="e27ae7ba-ff49-4eee-a636-c283b1240566" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
	customForm: {
		"internalId": "92",
		"name": "Standard Product Invoice"
	},
	entity: {
		internalId: vars.netSuiteCustomer[0].internalId,
		"name": vars.netSuiteCustomer[0].companyName
	},
	itemList: {
		item: [{
			item: {
          "internalId": "9154",
          "name": "24\" Auger"
        },
			price: {
          "internalId": "1",
          "name": "Base Price"
        },
			quantity: 2
		}]
	},
	postingPeriod: {
		"internalId": "235",
		"name": "Aug 2020"
	},
	tranDate: "2020-08-20T00:00:00"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:add-record doc:name="Add Invoice Record" doc:id="2dcd866c-b2bb-4811-a03a-51fa5abf9c44" config-ref="NetSuite_Config" recordType="INVOICE"/>
		<ee:transform doc:name="Transform Message" doc:id="69c58149-212a-4f28-9634-855f971613ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="lookup-customer-id-from-netsuite" doc:id="b2465150-1761-4042-ba18-dc263617f520" >
		<salesforce:query doc:name="Query" doc:id="0a70392f-e87f-4f9c-bedc-c87c244e335a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name from Account WHERE Id = ':account_id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	account_id : payload[0].AccountId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="c323ec0e-7883-4e2f-a62a-27e8d9f9f360" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	companyName: {
		operator: "CONTAINS",
		searchValue: "Acme"
	}
} as Object {
	class : "com.mulesoft.connector.netsuite.extension.api.CustomerSearchBasic"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:search key="CUSTOMER" doc:name="Search" doc:id="566eb88c-9131-4903-a024-bc13ccc3c11f" config-ref="NetSuite_Config" pageSize="10">
		</netsuite:search>
		<logger level="INFO" doc:name="Logger" doc:id="1fa3d39d-7946-4b23-ad4b-9f990829f5d5" />
	</sub-flow>
	<sub-flow name="lookup-inventory-items-in-netsuite-for-salesforce-order" doc:id="eb749575-1be4-49c4-ba9f-daa0a9332a6e" >
		<logger level="INFO" doc:name="Log Activity" doc:id="8e0018b9-f99f-4c9a-a6a7-cfafa0fc9dfd" message='#["looking up inventory items from NetSuite"]' />
	</sub-flow>
</mule>
