credit-note-to-finance-transaction/src/main/mule/credit-note-to-finance-transaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9fba2de0-0a33-4634-b061-0330855dd12c" >
		<salesforce:basic-connection username="${secure::sfdc.user}" password="${secure::sfdc.password}" url="${sfdc.auth_url}">
			<reconnection >
				<reconnect count="5" />
			</reconnection>
		</salesforce:basic-connection>
	</salesforce:sfdc-config>
	<global-property doc:name="Global Property" doc:id="ad80ce27-fe15-4fda-8f1d-dd945a2cfaa2" name="encryption.key" value="mulesoft_password" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="6fb9037c-9850-4524-a10d-c5ddbe896d48" file="config/config-secure.yaml" key="${encryption.key}">
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<configuration-properties doc:name="Configuration properties" doc:id="4292c7b9-83f2-4368-b675-57b8a04991a8" file="config/config.yaml" />
	<flow name="CreditNoteToFinancialTransaction" doc:id="031a6422-195f-416d-8bc9-b5f0e80de0c2" >
		<salesforce:modified-object-listener objectType="blng__CreditNote__c" doc:id="c5aa5cc9-bab9-4be5-8965-fb61f4149e34" config-ref="Salesforce_Config" doc:name="On Modified Object" >
			<scheduling-strategy >
				<fixed-frequency frequency="${sfdc.polling_interval}"/>
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<set-variable value="#[payload]" doc:name="Save Credit Note" doc:id="8d33842b-ceda-4c21-9294-31c08b1d76ae" variableName="creditNotePayload" />
		<choice doc:name="Choice" doc:id="32b7ad47-568d-44b7-8d40-b69aaba82e7b" >
			<when expression="#[vars.creditNotePayload.blng__Status__c == 'Posted']" >
				<ee:transform doc:name="Create Financial Transaction from Credit Note" doc:id="4d9797a9-fb13-41f3-8162-dc47966c0afe" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	CurrencyIsoCode: payload.CurrencyIsoCode,
	ReferenceEntityId: payload.Id,
	ReferenceEntityType: "Credit memo",
	EventAction: "Issue a standalone credit",
	EventType: "Posted",
	Subtotal: payload.blng__Subtotal__c,
	TaxAmount: payload.blng__TaxAmount__c,
	TotalAmountWithTax: payload.blng__TotalAmount__c,
	ResultingBalance: payload.blng__Balance__c,
	AccountId: payload.blng__Account__c,
	TransactionDate: now() as DateTime {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	EffectiveDate: now() as DateTime {format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"},
	BaseCurrencyFxRate: payload.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: payload.blng__BaseCurrencyFXDate__c,
	BaseCurrencyAmount: payload.blng__BaseCurrencyAmount__c,
	BaseCurrencyIsoCode: payload.blng__BaseCurrency__c,
	ImpactAmount: payload.blng__ImpactAmount__c
}]
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:create type="FinanceTransaction" doc:id="95f14b00-edca-4c88-b712-094b9c646a16" config-ref="Salesforce_Config" doc:name="Create Finance Transaction for Credit Note" />
				<logger level="INFO" doc:name="Log success or fail" doc:id="d85ae512-0413-4869-8634-bb93b0e00c62" message='#[if (payload.successful == true) "Successfully added Credit Note Finance Transaction Record" else "Error adding Financial Transaction Record"]' />
				<salesforce:query doc:id="0db71a86-9985-4314-98fd-6b997f4eb553" config-ref="Salesforce_Config" doc:name="Query Credit Note Line Information" >
					<salesforce:salesforce-query ><![CDATA[SELECT Id,blng__CreditNote__c,blng__BaseCurrencyFXDate__c,blng__BaseCurrencyFXRate__c,blng__Balance__c,blng__BaseCurrencyAmount__c,blng__ImpactAmount__c,blng__LegalEntity__c,blng__Subtotal__c,blng__TaxAmount__c,blng__TotalAmount__c,CurrencyIsoCode FROM blng__CreditNoteLine__c WHERE blng__CreditNote__c= ':creditnote_id' ]]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	creditnote_id : vars.creditNotePayload.Id
}]]]></salesforce:parameters>
				</salesforce:query>
				<foreach doc:name="For Each" doc:id="14f8484d-cdb7-4999-9683-9cc5ffa9d10f" >
					<set-variable value="#[payload]" doc:name="Save Credit Note Line Info" doc:id="cedcef8d-6c14-4006-aff6-0473cff629a1" variableName="creditNoteLineInfo"/>
					<ee:transform doc:name="Prep Payload to Create Financial Transaction for Credit Note Line" doc:id="12781c0f-769a-44a6-968b-f2cd4427f1e7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars.creditNotePayload.blng__Account__c,
	CurrencyIsoCode: vars.creditNoteLineInfo.CurrencyIsoCode,
	ReferenceEntityId: vars.creditNoteLineInfo.Id,
	ReferenceEntityType: "Credit memo line",
	EventAction: "Issue a standalone credit",
	EventType: "Posted",
	Subtotal: vars.creditNoteLineInfo.blng__Subtotal__c,
	TaxAmount: vars.creditNoteLineInfo.blng__TaxAmount__c,
	TotalAmountWithTax: vars.creditNoteLineInfo.blng__TotalAmount__c,
	ResultingBalance: vars.creditNoteLineInfo.blng__Balance__c,
	TransactionDate: now() as DateTime {
		format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"
	},
	EffectiveDate: now() as DateTime {
		format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"
	},
	BaseCurrencyFxRate: vars.creditNoteLineInfo.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: vars.creditNoteLineInfo.blng__BaseCurrencyFXDate__c,
	BaseCurrencyAmount: vars.creditNoteLineInfo.blng__BaseCurrencyAmount__c,
	BaseCurrencyIsoCode: vars.creditNoteLineInfo.blng__BaseCurrency__c,
	ImpactAmount: vars.creditNoteLineInfo.blng__ImpactAmount__c,
	LegalEntityId: vars.creditNoteLineInfo.blng__LegalEntity__c,
	ParentReferenceEntityId: vars.creditNotePayload.Id
}]]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<salesforce:create type="FinanceTransaction" doc:id="650a07c5-146e-43fc-991f-84966e6bf612" config-ref="Salesforce_Config" doc:name="Create Finance Transaction for Credit Note Line" target="createFinTranCreditNoteLineOutputPayload"/>
					<logger level="INFO" doc:name="Log success or fail" doc:id="518ca7c3-bd69-46b1-b118-786d87a74491" message='#[if (vars.createFinTranCreditNoteLineOutputPayload.successful == true) "Successfully added Credit Note Line Financial Transaction Record" else "Error adding Financial Transaction Record"]' />
					<choice doc:name="Create Credit Line Tax if Tax &gt; 0" doc:id="12ab831d-a42b-46f5-a251-07f2f0a1a09f" >
						<when expression="#[vars.creditNoteLineInfo.blng__TaxAmount__c &gt; 0]">
							<ee:transform doc:name="Transform Message" doc:id="a13e876c-b381-4c16-b44c-572eb8c539c2">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars.creditNotePayload.blng__Account__c,
	CurrencyIsoCode: vars.creditNoteLineInfo.CurrencyIsoCode,
	ReferenceEntityId: vars.creditNoteLineInfo.Id,
	ReferenceEntityType: "Credit Memo Line Tax",
	EventAction: "Issue a standalone credit",
	EventType: "Posted",
	TaxAmount: vars.creditNoteLineInfo.blng__TaxAmount__c,
	TransactionDate: now() as DateTime {
		format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"
	},
	EffectiveDate: now() as DateTime {
		format: "yyyy-MM-dd'T'hh:mm:ss.000'Z'"
	},
	BaseCurrencyFxRate: vars.creditNoteLineInfo.blng__BaseCurrencyFXRate__c,
	BaseCurrencyFxDate: vars.creditNoteLineInfo.blng__BaseCurrencyFXDate__c,
	BaseCurrencyIsoCode: vars.creditNoteLineInfo.blng__BaseCurrency__c,
	ImpactAmount: vars.creditNoteLineInfo.blng__TaxAmount__c,
	LegalEntityId: vars.creditNoteLineInfo.blng__LegalEntity__c,
	ParentReferenceEntityId: vars.creditNotePayload.Id
}]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<salesforce:create type="FinanceTransaction" doc:name="Create Finance Transaction for Credit Note Tax" doc:id="5cc62b69-742a-459b-819b-2a4dd8af47c3" config-ref="Salesforce_Config" />
							<logger level="INFO" doc:name="Log success or fail" doc:id="03c5c338-9457-452e-9db2-8dc9c0e47da1" message='#[if (payload.successful == true) "Successfully added Credit Note Tax Financial Transaction Record" else "Error adding Financial Transaction Record"]' />
						</when>
					</choice>
				</foreach>
			</when>
		</choice>
	</flow>
</mule>
